# Class 4 homework: More practise with re-shaping dataframes

Let's look at a few more datasets. These will give you a bit more practice using some of the functions you have learned over the last few classes. These are tricky, and we are deliberately providing only sparse instructions so that you can challenge yourself. Work together if you can, and remember that in class you can ask the demonstrators for help if you need.

## Load the modules

First, let's import pandas and seaborn.

In [ ]:
import pandas as pd
import seaborn as sns

## A dataset on bird nests in Greenland

This dataset includes information on nesting sites, the number of nests assessed at each site, and the number of chicks found in each nest (calculated as a frequency across five different levels).

First, read in `Greenland_nests.csv` from the Datasets folder. Then look at the dataset to make sure it has loaded correctly.

Now try melting this dataset into long form. Call your variable name 'No_chicks' and your value name 'Frequency'. Hint: your values are contained within the '0 chicks', '1 chick', '2 chicks', '3 chicks ' and '>3 chicks' columns.

Now have a go plotting these data using the following code `sns.stripplot(x = 'No_chicks', y = 'Frequency', hue = 'Nesting Site', data = df_melt);`. You might need to edit this depending on what you called your dataframe.

# A dataset on plant locations

This dataset contains location information for the plant *Begonia conchifolia*. 

Read in the B_conch_loc.csv file from the Datasets folder. Check to make sure it has loaded correctly.

&nbsp;  
<div>
<img src="attachment:begonia-7875959_640.jpg" width='50%' title=""/>
</div>
&nbsp;  

Unfortunately, this dataset hasn't loaded in correctly as the first row has been used as the column headers. Try again, this time including `header = None` in your code. Then use `df.head()` to see what it looks like.

Check the data types of each variable.

Now let's try and tidy it up a little. First, make a new column called 'Reference' which concatenates all the information from columns 4 - 8. Remember, you will need to use the code `.astype(str)` if the variables are not coded as strings.

Now drop columns 4 - 8 as we don't need them any more.

Now let's split column 3 into longitude and latitude. Use `str.split` to split this column and form two new columns called Longitude and Latitude. Note that the separator is ', ' this time.

Now drop column 3.

And finally, rename the columns using `['Species_name', 'Country', 'Location', 'Reference', 'Longitude', 'Latitude']`.

Now you can stand back and admire your lovely tidy dataset!

## If you have more time...

Spend some time this week going over all the material we have covered so far. Are there any functions that you don't understand? Have a go playing with these on some other datasets. And if you haven't already, start putting together your own cheat sheet of useful functions.