# Class 4: Changing dataframe shape

&nbsp;  
In this class, we'll be looking at three additional tools for tidying your data - **transposing**, **melting** and **casting**. Transposing rotates the data so that rows become columns and vice versa. Melting converts a dataframe from wide to long format, and casting is the reverse. You'll be able to practice these techniques using a couple of different datasets.

## Load the modules

First, let's import pandas and seaborn.

In [ ]:
import pandas as pd
import seaborn as sns

## Transposing

&nbsp;  
<div>
<img src="attachment:dna-163466_640.jpg" width='50%' title=""/>
</div>
&nbsp;  

Start by loading in Infection_TPM.csv from the Datasets folder. This dataset includes transcripts per million (a measure of gene expression) of 7 genes. Call it df.

Now look at the top 5 rows of the dataset.

To transpose the data, you can simply use `df = df.T`. Type this into the cell below and then check the dataset to see what it looks like.

You can see that our columns have become rows and our rows have become columns. The index is now the column headers and the column headers are now the index. For this dataset, it would make sense to make the first row the column headers. So let's define our new column headers and then drop the first row.

What happens if we want to analyse the differences between 'infected' and 'control' plants? Ideally, we would make two new columns - one for tissue (flower / leaf) and one for disease (infected / control). You may remember we did something similar in the last class by splitting strings. This time, however, it is the **index** that combines both pieces of information.

Let's first make the index a column. We can do this using the `df.reset_index()` function. We can include `inplace = True` to make sure this happens on the original dataframe.

This function creates a new column called 'index'. (Note: you can add `drop = True` into the df.reset_index function and the new 'index' column will be dropped). We can now split this 'index' column to make two new columns.

Write some code to drop the 'index' column as we dont need it anymore. Then check to see everything has worked as expected.

Now that we have separated 'Disease' and 'Tissue', we can analyse these variables separately. For example, we might want to look at the differences in gene expression between Tissues:

## Melting

How could we tidy these data further? At the moment, all of our TPM values are distributed over the first 6 columns. However, it is often useful to have all our measured values in a single column. We call this converting from 'wide form' to 'long form'. For our dataset, this would mean we would end up with four columns: Gene_ID, Disease, Tissue and TPM.

To do this, we can use the function `pd.melt`. This takes the form `pd.melt(dataframe, id_vars, value_vars, var_name, value_name...)`.

- `id_vars` are the identifier variables. These are the variables (or columns) that do not contain our values. In our case, these are Disease and Tissue.
- `value_vars` are the variables (or columns) that contain our values. In our case, these are NLR_1, NLR_2, JA_34, JA_13, JA_5, Aux_3 and Aux_4.
- `var_name` is the name we want to assign to our variable column. In this case, we shall call it 'Gene_ID'.
- `value_name` is the name we want to assign to our column of values. In this case, we shall call in 'TPM'.

Let's try it...

Having data in long form like this makes it easier to perform various analyses. For example, we can now plot a similar graph to the one above but incorporating data from all the genes this time.

This 'tidy data' form makes it easy to summarise by groups.  How would you get the mean and standard deviation of the gene expression levels by tissue?  By disease state?

We can break down the data further by gene...

Or we can look at the different 'tissues' separately...

All this is easier because we have the dataframe arranged in a 'tidy' manner.

## Casting

Casting is the reverse of melting i.e. it converts long form data into wide form. We can do this using the `pd.pivot` function. This takes the form `pd.pivot(dataframe, columns, index, values...)`.

- `columns` is the column that we want to use to make the new dataframe's columns. In this case, it is Gene_ID.
- `index` is the column(s) that we want to use to make the new dataframeâ€™s index. Let's do this with 'Tissue' and 'Disease'.
- `values` is the column containing our values. In this case, it is TPM.

You might have noticed that we now have a multi-level index. We can reset 'Tissue' and 'Disease' to columns using `reset_index(inplace = True)`.
This makes the dataframe easier to read - which presumbly is why we wanted this wide-form data - as a table.

### More practice with tidy data

Read in the Leaves.csv file in the Datasets folder and check things look OK.

This dataset includes counts of hairs on the abaxial (underside) and adaxial (upperside) of ten leaves per plant (columns '1', '2' '3' ...), along with the expression levels for three genes (an average from three biological replicates) (ADH1, SSC2 and SSC3) and the genotype of each plant.

You can see that the data are in a horrible format! There are really 20 hair counts per plant (10 adaxial and 10 abaxial) but these have been split across 2 rows. This has generated a large number of NaNs.

Let's deal with this first. We can use a function called `df.fillna` to fill these NaNs with something more meaningful. In our case, it makes sense to simply copy the information from the row above. We can do this using `df.fillna(method = 'ffill', inplace = True)`. Type this in to the cell below and have another look at your dataframe to see what it has done.

Now have a go melting your dataset into long form. Our identifier variables will be 'Plant', 'Genotype', 'ADH1', 'SSC2', 'SSC3' and 'Side'. Our values (or observations) are contained in the columns '1', '2' and '3'. Call your variable name 'Sample' and your value name 'Count'.

What is the mean and sd for hair count on the adaxial and abaxial sides of the leaf?

What is the mean and sd for hair count on ddm1/ddm1, ddm/+ and +/+ leaves?

And grouping by Side and Genotype?

What is the mean hair count by side for plants with ADH1 expression over 200?  Use df_melt.query("ADH1 > 200").groupby()

And finally, use the following code to show the difference in hair counts between the adaxial and abaxial sides of the leaf for the different genotypes: `sns.catplot(x = 'Genotype', y = 'Count', hue = 'Side', data = df_melt, kind = 'bar');`.

## What to do next 

Class 4 homework gives more practise on re-shaping data, and on the material from previous classes.

You can also spend some time this week going over all the material we have covered so far. Are there any functions that you don't understand? Have a go playing with these on some other datasets. And if you haven't already, start putting together your own cheat sheet of useful functions.